<div class="card">
    <div class="card-body py-3">
        <form id="addFeedForm">
            <div class="input-group mb-3">
                <input type="url" class="form-control" id="feedUrl" placeholder="Enter RSS feed URL" required>
                <button class="btn btn-primary" type="submit">Add Feed</button>
            </div>
        </form>
        <div id="feedbackMessage"></div>
        <hr class="my-2">
        <h6>Your Feeds</h6>
        <div id="feedsList" class="mt-2">
            <!-- Feed list will be populated by JavaScript -->
        </div>
    </div>
</div> 